<config>
  <!-- Client Control -->
  <fold-anon v='true'/>

  <!-- Folding Slot Configuration -->
  <cause v='ALZHEIMERS'/>
  <extra-core-args v='-np 4'/>
  <project-key v='168211238'/>
  <gpu v='true'/>  <!-- If true, attempt to autoconfigure GPUs -->

  <!-- HTTP Server -->
  <allow v='0.0.0.0/0'/>

  <!-- Network -->
  <proxy v=':8080'/>

  <!-- Remote Command Server -->
  <command-allow-no-pass v='0.0.0.0/0'/>

  <!-- Slot Control -->
  <power v='full'/>

  <!-- User Information -->
  <user v='Gnomuz'/>
  <team v='51'/>
  <passkey v='acaf8d78a997c944acaf8d78a997c944'/>

  <!-- Work Unit Control -->
  <next-unit-percentage v='100'/>

  <!-- Folding Slots -->
  <slot id='0' type='CPU'>
    <pause-on-start v='True'/>
  </slot>
</config>
